.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.username{
  margin-top: 5px;
  padding: 20px;
  text-align: center;
  width: 230px;
  background-color: #208391;
  border-radius: 20px;
color: bisque;
font-weight: bold;
box-shadow: 3px 5px 10px #10474f;
}